# CognoDB Database Credentials
# Obtain these from your CognoDB Console (e.g. console.cognodb.com)
COGNODB_URI=bolt+s://db-1f9ff7e8.bravo.databases.cognodb.com
COGNODB_USER=cognodb
COGNODB_PASSWORD=cb70ed4003ad3eae94859a9d1edcc447

# Express Server Port
PORT=5000
